@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Noto+Sans+Mono&display=swap');
body {
  box-sizing: border-box;
  background-color: #212121;

  .container {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      margin-bottom: 0;
      padding-left: 230px;
    }
    h2 {
      font-size: 56px;
      margin-top: 0;
      padding-left: 100px;
    }

    h1,
    h2 {
      font-family: 'Lobster Two', cursive;
      color: #fafafa;
      text-shadow: 0 0 1px #f0f0f0, 0 0 3px #0fa;
    }

    .text {
      font-family: 'Noto Sans Mono', monospace;
      color: #fafafa;
      font-size: 20px;
    }

    hr {
      margin: 100px;
    }

    #result {
      font-family: 'Noto Sans Mono', monospace;
      border: 3px solid darkgray;
      color: #fafafa;
      background-color: #111;
      border-radius: 8px;
      padding: 16px;
      font-size: 18px;
      min-height: 120px;
      max-height: 480px;
      overflow-y: auto;

      &::after {
        content: '|';
        line-height: 18px;
        margin-left: 3px;
        animation: blink 0.8s infinite;
        vertical-align: top;
      }
    }
  }
}

@keyframes blink {
  0% {
    color: #111;
  }
  50% {
    color: #fafafa;
  }
  100% {
    color: #111;
  }
}
